@page
@using S2.AspNet.Repetition.Entities
@model S2.AspNet.Repetition.Pages.IndexModel
@{
    ViewData["Title"] = "Forside";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Min første memegenerator</h1>
<div class="wrapper">
    <article>
        <form action="/NewMeme" method="get">
            <div class="memeWrapper">

                @{ 
                    foreach (MemeImage memeImage in Model.MemeImages)
                    {
                <div class="memeSelector">
                    <img src="@memeImage.Url" alt="@memeImage.AltText" />
                    <input type="radio" name="imageselected" value="@memeImage.Id" />
                </div>
                    }
                }

            </div>

            <div class="memeSelector memeText">
                <input type="text" size="50" name="memeText" placeholder="Skriv din meme text" />
                <select name="FontSize">
                    <option value="smallFont">Lille tekst størrelse</option>
                    <option value="mediumFont" selected>Mellem tekst størrelse</option>
                    <option value="bigFont">Stor tekst størrelse</option>
                </select>

                <select name="FontColor">
                    <option value="white" selected>Hvid skriftfarve</option>
                    <option value="black">Sort skriftfarve</option>
                    <option value="hotpink">Hotpink skriftfarve</option>
                    <option value="blue">Blå skriftfarve</option>
                </select>

                <select name="PositionOfText">
                    <option value="top-left">Top left</option>
                    <option value="top-center">Top center</option>
                    <option value="top-right">Top right</option>
                    <option value="centered">Center</option>
                    <option value="bottom-left">Bottom left</option>
                    <option value="bottom-center" selected>Bottom center</option>
                    <option value="bottom-right">Bottom right</option>
                </select>

                <input type="text" size="50" name="memeName" placeholder="Navngiv meme" />
                <input type="submit" value="Generer meme" />
            </div>
        </form>
    </article>
</div>




