@page
@model S2.AspNet.Repetition.Pages.MostUsedColorModel
@{
    ViewData["Title"] = "MostUsedColor";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="@Model.memeColor.Color">Dette er den mest anvendte farve</h2>