@page
@model S2.AspNet.Repetition.Pages.MostUsedPositionModel
@{
    ViewData["Title"] = "MostUsedPosition";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>MostUsedPosition</h2>

<div class="generatedMeme">
    <h3>@Model.memePosition.Position</h3>
</div>